*.dev
*.exe
*.layout
*.o
*.win
*.DS_Store
*.xcodeproj
*.cbp
*.depend
*.layout
*.exe
*.o
*.out
*.in
.vscode
*.sh
Makefile
a
node_modules/
build/
.package-lock.json
.DS_Store
/.vscode
.env
server/src/generated
yarn-error.log