html {
  font-family: Monaco;
}

h1 {
  text-align: center;
}

#store {
  display: inline;
  margin: auto;
  border: 5px solid rgb(255, 0, 0);
  border-radius: 6px;
  background: black;
}

#tetris{
  display: block;
  margin: auto;
  border: 5px solid rgb(255, 0, 0);
  border-radius: 6px;
  background: black;
}

